#gameScreen {
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ui_btn{
    width: 50%;
    margin: 0 auto;
}

body{
    background-color: rgb(23, 0, 61);
}

h1{
    text-align: center;
    color: white;
    background-color: teal;
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}